
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing

white spaces from the right side.

        SELECT RTRIM(FIRST_NAME) AS FIRST_NAME

        FROM Worker;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker

table and prints its length.

        â€ƒSELECT DISTINCT DEPARTMENT, LENGTH(DEPARTMENT) AS DEPARTMENT_LENGTH

        FROM Worker;

Q-3. Write an SQL query to fetch nth max salaries from a table.

    # This query will fetch the nth highest salary from the table.

    # For example, if n = 3, then the query will fetch the third highest salary.

          SELECT Salary

          FROM (

            SELECT Salary, DENSE_RANK() OVER (ORDER BY Salary DESC) AS Rank

            FROM Employee

          ) AS RankedSalaries

          WHERE Rank = n;